USE [ADI_Enrichment]
GO
/****** Object:  Table [dbo].[Adi_Data]    Script Date: 29/09/2020 11:51:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adi_Data](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[IngestUUID] [uniqueidentifier] NULL,
	[TITLPAID] [nvarchar](20) NULL,
	[OriginalADI] [xml] NULL,
	[VersionMajor] [int] NULL,
	[VersionMinor] [int] NULL,
	[ProviderId] [nvarchar](20) NULL,
	[TMSID] [nvarchar](20) NULL,
	[Licensing_Window_End] [nchar](50) NULL,
	[ProcessedDateTime] [datetime] NULL,
	[ContentTSFile] [nvarchar](max) NULL,
	[ContentTSFilePaid] [nvarchar](20) NULL,
	[ContentTSFileChecksum] [nvarchar](32) NULL,
	[ContentTSFileSize] [nvarchar](20) NULL,
	[EnrichedADI] [xml] NULL,
	[Enrichment_DateTime] [datetime] NULL,
	[UpdateAdi] [xml] NULL,
	[Update_DateTime] [datetime] NULL,
	[PreviewFile] [nvarchar](max) NULL,
	[PreviewFilePaid] [nvarchar](20) NULL,
	[PreviewFileChecksum] [nvarchar](32) NULL,
	[PreviewFileSize] [nvarchar](20) NULL,
 CONSTRAINT [PK_Adi_Data] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GN_Api_Lookup]    Script Date: 29/09/2020 11:51:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GN_Api_Lookup](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[IngestUUID] [uniqueidentifier] NOT NULL,
	[GN_TMSID] [nvarchar](20) NULL,
	[GN_connectorId] [nvarchar](50) NULL,
	[GnMapData] [xml] NULL,
	[GnLayer1Data] [xml] NULL,
	[GnLayer2Data] [xml] NULL,
 CONSTRAINT [PK_GN_Api_Lookup] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GN_ImageLookup]    Script Date: 29/09/2020 11:51:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GN_ImageLookup](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Image_Lookup] [nvarchar](50) NULL,
	[Image_Mapping] [nvarchar](50) NULL,
	[Image_AdiOrder] [int] NULL,
	[Mapping_Config] [xml] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GN_Mapping_Data]    Script Date: 29/09/2020 11:51:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GN_Mapping_Data](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[IngestUUID] [uniqueidentifier] NOT NULL,
	[GN_TMSID] [nvarchar](20) NULL,
	[GN_RootID] [nvarchar](20) NULL,
	[GN_Status] [nvarchar](20) NULL,
	[GN_ProviderId] [nvarchar](50) NULL,
	[GN_Paid] [nvarchar](20) NULL,
	[GN_Pid] [nvarchar](20) NULL,
	[GN_programMappingId] [nvarchar](50) NULL,
	[GN_creationDate] [datetime] NULL,
	[GN_updateId] [nvarchar](50) NULL,
	[GN_Images] [nvarchar](max) NULL,
	[GN_Availability_Start] [datetime] NULL,
	[GN_Availability_End] [datetime] NULL,
	[GN_connectorId] [nvarchar](50) NULL,
	[GN_SeriesTitle] [nvarchar](max) NULL,
	[GN_SeasonNumber] [int] NULL,
	[GN_EpisodeNumber] [bigint] NULL,
	[GN_EpisodeTitle] [nvarchar](max) NULL,
	[GN_SeasonId] [int] NULL,
	[GN_SeriesId] [bigint] NULL,
 CONSTRAINT [PK_GN_Mapping_Data] PRIMARY KEY CLUSTERED 
(
	[IngestUUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GnProgramTypeLookup]    Script Date: 29/09/2020 11:51:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GnProgramTypeLookup](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[GnProgramType] [nvarchar](50) NOT NULL,
	[GnProgramSubType] [nvarchar](50) NOT NULL,
	[LgiProgramType] [nvarchar](50) NOT NULL,
	[LgiProgramTypeId] [int] NOT NULL,
 CONSTRAINT [PK_GnProgramTypeLookup] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LatestUpdateIds]    Script Date: 29/09/2020 11:51:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LatestUpdateIds](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[LastMappingUpdateIdChecked] [bigint] NULL,
	[LastLayer1UpdateIdChecked] [bigint] NULL,
	[LastLayer2UpdateIdChecked] [bigint] NULL,
	[InOperation] [bit] NULL,
 CONSTRAINT [PK_LatestUpdateIds] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Layer1UpdateTracking]    Script Date: 29/09/2020 11:51:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Layer1UpdateTracking](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[IngestUUID] [uniqueidentifier] NOT NULL,
	[GN_Paid] [nvarchar](20) NULL,
	[GN_TMSID] [nvarchar](20) NULL,
	[Layer1_UpdateId] [nvarchar](50) NULL,
	[Layer1_UpdateDate] [datetime] NULL,
	[Layer1_NextUpdateId] [nvarchar](50) NULL,
	[Layer1_MaxUpdateId] [nvarchar](50) NULL,
	[Layer1_RootId] [nvarchar](50) NULL,
	[UpdatesChecked] [datetime] NULL,
	[RequiresEnrichment] [bit] NULL,
 CONSTRAINT [PK_Layer1_Update_Tracking] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Layer2UpdateTracking]    Script Date: 29/09/2020 11:51:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Layer2UpdateTracking](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[IngestUUID] [uniqueidentifier] NOT NULL,
	[GN_Paid] [nvarchar](20) NULL,
	[GN_connectorId] [nvarchar](50) NULL,
	[Layer2_UpdateId] [nvarchar](50) NULL,
	[Layer2_UpdateDate] [datetime] NULL,
	[Layer2_NextUpdateId] [nvarchar](50) NULL,
	[Layer2_MaxUpdateId] [nvarchar](50) NULL,
	[Layer2_RootId] [nvarchar](50) NULL,
	[UpdatesChecked] [datetime] NULL,
	[RequiresEnrichment] [bit] NULL,
 CONSTRAINT [PK_Layer2_Update_Tracking] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MappingsUpdateTracking]    Script Date: 29/09/2020 11:51:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MappingsUpdateTracking](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[IngestUUID] [uniqueidentifier] NOT NULL,
	[GN_ProviderId] [nvarchar](50) NULL,
	[Mapping_UpdateId] [nvarchar](50) NULL,
	[Mapping_UpdateDate] [datetime] NULL,
	[Mapping_NextUpdateId] [nvarchar](50) NULL,
	[Mapping_MaxUpdateId] [nvarchar](50) NULL,
	[Mapping_RootId] [nvarchar](50) NULL,
	[UpdatesChecked] [datetime] NULL,
	[RequiresEnrichment] [bit] NULL,
 CONSTRAINT [PK_GN_UpdateTracker_Mappings] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[GN_ImageLookup] ON 

SET IDENTITY_INSERT [dbo].[GN_ImageLookup] OFF
SET IDENTITY_INSERT [dbo].[GnProgramTypeLookup] ON 

INSERT [dbo].[GnProgramTypeLookup] ([id], [GnProgramType], [GnProgramSubType], [LgiProgramType], [LgiProgramTypeId]) VALUES (1, N'Feature Film', N'Feature Film', N'Movie', 0)
INSERT [dbo].[GnProgramTypeLookup] ([id], [GnProgramType], [GnProgramSubType], [LgiProgramType], [LgiProgramTypeId]) VALUES (2, N'Miniseries', N'Episode', N'Episode', 1)
INSERT [dbo].[GnProgramTypeLookup] ([id], [GnProgramType], [GnProgramSubType], [LgiProgramType], [LgiProgramTypeId]) VALUES (3, N'Miniseries', N'Miniseries', N'ShowSeries', 2)
SET IDENTITY_INSERT [dbo].[GnProgramTypeLookup] OFF
SET IDENTITY_INSERT [dbo].[LatestUpdateIds] ON 

INSERT [dbo].[LatestUpdateIds] ([id], [LastMappingUpdateIdChecked], [LastLayer1UpdateIdChecked], [LastLayer2UpdateIdChecked], [InOperation]) VALUES (1, 13151938540, 13084721003, 13084834173, 0)
SET IDENTITY_INSERT [dbo].[LatestUpdateIds] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Adi_Data]    Script Date: 29/09/2020 11:51:07 ******/
ALTER TABLE [dbo].[Adi_Data] ADD  CONSTRAINT [IX_Adi_Data] UNIQUE NONCLUSTERED 
(
	[TITLPAID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_GN_Mapping_Data]    Script Date: 29/09/2020 11:51:07 ******/
ALTER TABLE [dbo].[GN_Mapping_Data] ADD  CONSTRAINT [IX_GN_Mapping_Data] UNIQUE NONCLUSTERED 
(
	[GN_Paid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LatestUpdateIds] ADD  CONSTRAINT [DF_LatestUpdateIds_InOperation]  DEFAULT ((0)) FOR [InOperation]
GO
ALTER TABLE [dbo].[Adi_Data]  WITH CHECK ADD  CONSTRAINT [FK_Adi_Data_GN_Mapping_Data] FOREIGN KEY([IngestUUID])
REFERENCES [dbo].[GN_Mapping_Data] ([IngestUUID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Adi_Data] CHECK CONSTRAINT [FK_Adi_Data_GN_Mapping_Data]
GO
ALTER TABLE [dbo].[GN_Api_Lookup]  WITH CHECK ADD  CONSTRAINT [FK_GN_Api_Lookup_GN_Mapping_Data] FOREIGN KEY([IngestUUID])
REFERENCES [dbo].[GN_Mapping_Data] ([IngestUUID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GN_Api_Lookup] CHECK CONSTRAINT [FK_GN_Api_Lookup_GN_Mapping_Data]
GO
ALTER TABLE [dbo].[Layer1UpdateTracking]  WITH CHECK ADD  CONSTRAINT [FK_Layer1UpdateTracking_GN_Mapping_Data] FOREIGN KEY([IngestUUID])
REFERENCES [dbo].[GN_Mapping_Data] ([IngestUUID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Layer1UpdateTracking] CHECK CONSTRAINT [FK_Layer1UpdateTracking_GN_Mapping_Data]
GO
ALTER TABLE [dbo].[Layer2UpdateTracking]  WITH CHECK ADD  CONSTRAINT [FK_Layer2UpdateTracking_GN_Mapping_Data] FOREIGN KEY([IngestUUID])
REFERENCES [dbo].[GN_Mapping_Data] ([IngestUUID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Layer2UpdateTracking] CHECK CONSTRAINT [FK_Layer2UpdateTracking_GN_Mapping_Data]
GO
ALTER TABLE [dbo].[MappingsUpdateTracking]  WITH CHECK ADD  CONSTRAINT [FK_MappingsUpdateTracking_GN_Mapping_Data] FOREIGN KEY([IngestUUID])
REFERENCES [dbo].[GN_Mapping_Data] ([IngestUUID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MappingsUpdateTracking] CHECK CONSTRAINT [FK_MappingsUpdateTracking_GN_Mapping_Data]
GO
ALTER TABLE [dbo].[MappingsUpdateTracking]  WITH CHECK ADD  CONSTRAINT [FK_MappingsUpdateTracking_GN_Mapping_Data1] FOREIGN KEY([GN_ProviderId])
REFERENCES [dbo].[GN_Mapping_Data] ([GN_ProviderId])
GO
ALTER TABLE [dbo].[MappingsUpdateTracking] CHECK CONSTRAINT [FK_MappingsUpdateTracking_GN_Mapping_Data1]
GO
/****** Object:  StoredProcedure [dbo].[GetAdiDataOrphans]    Script Date: 29/09/2020 11:51:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[GetAdiDataOrphans]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SELECT
		*
	FROM Adi_Data AS A 
	WHERE NOT EXISTS( 
		SELECT 
			GN_Paid 
		FROM GN_Mapping_Data AS G 
		WHERE 
			RIGHT(G.GN_Paid, 8) = RIGHT(A.TITLPAID, 8)
	);
END
GO
/****** Object:  StoredProcedure [dbo].[GetMappingOrphans]    Script Date: 29/09/2020 11:51:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetMappingOrphans] 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT 
		*
	FROM GN_Mapping_Data AS G 
	WHERE NOT EXISTS ( 
		SELECT 
			TITLPAID 
		FROM Adi_Data AS A 
		WHERE 
			RIGHT(A.TITLPAID,8) = RIGHT(G.GN_Paid,8)
	);
END
GO
